<div class='container'>
    <div class='container_ui'>
        <div class='container_ui__heading'>
            <div class='header_icon'>
                <img src='/static/images/inbox.jpg' width="50px">
            </div>
            <h1>
        inbox
      </h1>
            <div class='menu_icon'>
                <div class='div'></div>
                <div class='div'></div>
                <div class='div'></div>
            </div>
        </div>
        <div ng-repeat="message in messages">
            <input id='message-1' type='checkbox'>
            <a href='/message/{{message.id}}'>
                <div class='container_ui__item'>
                    <div class='face'>
                        <img src='/static/images/email.png'>
                    </div>
                    <h2>
          {{message.participants[0]}}
        </h2>
                    <h3>subj: {{message.subject}}</h3>
                    <h4>{{message.preview}}</h4>
                </div>
                
            </a>
            <div>
                <button class="delete_btn" ng-click="delete(message.id)">delete</button>
                </div>
        </div>
    </div>
</div>